@import url('https://fonts.googleapis.com/css?family=Pacifico:400,500');
@import url('https://fonts.googleapis.com/css?family=Martel:400,500');

body {
  background-color: #333;
  color: #333;
  font-family: 'Martel', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#title {
  font-family: 'Pacifico', sans-serif;
}

#quote-box {
  border-radius: 3px;
  width: 500px;
  padding: 40px 50px;
  background-color: #fff;
}
  
#new-quote {
  float: right;
  height: 40px;
  border-color: #333;
  color: #333;            
  border-radius: 3px;
  padding: 10px 30px 10px 30px;
  cursor: pointer;
  background-image: linear-gradient(to right, #E6DADA 0%, #274046  51%, #E6DADA  100%);
  background-size: 200% auto;
}
#new-quote:hover{
   background-position: right center;
   color: #fff;
}
#tweet-quote {
  color:#00aced;
}


         
         